@import 'tailwindcss';

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  @media (prefers-color-scheme: dark) {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
